%boton-base{
    @include font-size(boton);
    color: $colorBlanco;
    font-weight: 700;
    text-decoration: none;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: inline-block;
    border: none;
    display: block
}
