$font_sizes: (
    html: 62.5%,
    body: 1.6rem,
    h1: 3rem,
    h2: 2.8rem,
    h3: 2.3rem,
    boton: 1.8rem,
    contenido-header-h1: 3.5rem,
    contenido-anuncio-h3: 2rem,
    contenido-anuncio-p: 1.3rem,
    precio: 1.7rem,
    contenido-contacto-p: 1.9rem,
    copyright: 1.5rem,
    legend: 2.4rem
);