@mixin font-size($key){
    font-size: map-get($map: $font_sizes, $key: $key);
}

@mixin flex($justify-content:null, $align-items:null){
    display: flex;
    @if $justify-content != null{
        justify-content: $justify-content;
    }
    @if $align-items != null{
        align-items: $align-items;
    }
}

@mixin boton($bg-color, $hover-color){
    background-color: $bg-color;

    &:hover{
        background-color: $hover-color;
    }
}

@mixin img-cover($img){
    background-image: url($img);
    background-position: center center;
    background-size: cover;
}

@mixin border($width, $style, $color){
    border: $width $style $color;
}

@mixin transition-img($property, $duration, $timing-function){
    transition: $property $duration $timing-function;
}

@mixin transform-img($scale){
    transform: scale($scale);
}