//Fuente
$font_family: 'Lato', sans-serif;

//Paleta de colores
$colorBlanco:rgb(255, 255, 255);
$colorNaranja: rgb(255, 165, 0);
$colorNaranjaClaro: rgb(235, 181, 82);
$colorVerde: rgb(0, 128, 0);
$colorVerdeClaro:rgb(11, 194, 11);
$colorGrisOscuro: rgb(51, 51, 51);
$colorCeleste: rgb(0, 174, 255);
$colorGrisClaro: rgb(226, 219, 219);