/* --- Reciclar Clases --- */

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.seccion{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fw-500{
    font-weight: 500;
}

.centrar-texto{
    text-align: center;
}

.contenido-centrado{
    max-width: 800px;
}