/*footer*/

.site-footer{
    background-color: $colorGrisOscuro;
    margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
}

.iconos-footer{
    @include flex(space-evenly, center);
    
    a{
        img{
            height: 5rem;
        }
    }
}

.copyright{
    margin: 0;
    color: $colorBlanco;
    @include font_size(copyright);
    padding: 1rem;
}