/*Iconos seccion sobre nosotros, tanto para index como "nosotros"*/

.icono{
    h3{
        text-transform: uppercase;
    }

    img{
        height: 15rem;
    }
}

/*Pagina Nosotros*/

.texto-nosotros{
    padding: 2rem;
    text-align:justify;

    h3{
        text-decoration: underline;
    }
}